<div class="redeemed-vouchers-headline">
    <div class="redeemed-vouchers-text">
        {{ redeemedVouchersheadline }}
    </div>
</div>

<div class="coupon-wrapper">
    <div class="cupons">
        <div class="cupon" *ngFor="let coupon of coupons">
            <div class="voucher-img-date">
                <div class="img-voucher">
                    <img src="{{ imgGift }}" alt="Gift">
                </div>
                <div class="date-voucher">
                    <p>{{ currentDate | date:'dd.MM' }}</p>
                </div>
            </div>
            <div class="voucher-infos">
                <div class="voucher-coupon-infos">
                    <div class="voucher-number">
                        <p>{{ coupon.voucherNumber }}</p>
                    </div>

                    <p class="parting-line">|</p>

                    <div class="voucher-wertgutschein">
                        <p>{{ coupon.art }}</p>
                    </div>
                </div>
                <div class="voucher-customer">
                    <p>{{ coupon.name }}</p>
                </div>
            </div>
            <div class="voucher-values">
                <div class="voucher-initial-value">
                    <p>{{ coupon.initialValue }} €</p>
                </div>
                <div class="voucher-remaining-value">
                    <p>{{ coupon.remainingValue }} €</p>
                </div>
            </div>
        </div>
    </div>
</div>
