@use "../../../styles/variables" as *;

.coupon-wrapper {
    background-color: $rv-black;
    overflow-y: auto;
    max-height: 19.25rem;
    margin-top: 0.625rem;
}

.redeemed-vouchers-headline {
    width: 100%;
    padding: 0.625rem 0;
    background-color: $rv-green;
    color: $rv-white;
    font-size: 0.875rem;
}

.redeemed-vouchers-text {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-transform: uppercase;
}

.cupon {
    margin: 0.3125rem;
    max-width: 100%;
    background-color: $rv-green;
    display: flex;
    align-items: center;

    p {
        margin: 0;
        font-size: 0.75rem;
        color: $rv-white;

        &.parting-line {
            margin: 0 0.25rem;
        }
    }
}

.voucher-customer {
    margin-top: 0.25rem;
}

.voucher-img-date {
    background-color: $rv-white;
    margin: 0.3125rem;
    width: 15%;
}

.img-voucher {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    margin: 0.1875rem auto;

    img {
        max-width: 100%;
    }
}

.date-voucher {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    margin: 0.1875rem;

    p {
        color: $rv-green;
    }
}

.voucher-infos {
    margin: 0.3125rem;
    width: 65%;
}

.voucher-coupon-infos {
    display: flex;
}

.voucher-values {
    width: 20%;
    padding-right: 0.625rem;

    p {
        display: flex; 
        justify-content: end;
    }
}

.voucher-wertgutschein {
    p {
        font-weight: 800;
    }
}

.voucher-initial-value {
    p {
        font-size: 1.25rem;
    }
}

.voucher-remaining-value {
    p {
        font-size: 0.75rem;
    } 
}


