<div class="evaluation-cart-wrapper">
  <div class="container-row">
    <div *ngFor="let cart of evaluationCarts" 
        class="evaluation-container"
        [ngClass]="{ 'selected': selectedCart === cart }"
        (click)="selectCart(cart)">
        {{ cart }}
    </div>
  </div>  

  <div *ngIf="selectedCart" class="evaulution-overview">
    <div class="evaulution-status-container">
      <div class="evaulution-wrapper">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>{{ redeemed }}</th>
              <th>{{ open }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="selectedCart === 'Gesamt'">
              <tr>
                <th class="first-th">{{ total }}</th>
                <td class="green-td">{{ generateNumbers(selectedCart).redeemed }}€ | {{ generateNumbers(selectedCart).redeemed + generateNumbers(selectedCart).open }}€</td>
                <td class="red-td">{{ generateNumbers(selectedCart).open }}€ | {{ generateNumbers(selectedCart).redeemed + generateNumbers(selectedCart).open }}€</td>
              </tr>
              <tr>
                <th class="first-th online">{{ online }}</th>
                <td class="green-td">{{ generateNumbers(selectedCart).online.redeemed }}€ | {{ generateNumbers(selectedCart).online.redeemed + generateNumbers(selectedCart).online.open }}€</td>
                <td class="red-td">{{ generateNumbers(selectedCart).online.open }}€ | {{ generateNumbers(selectedCart).online.redeemed + generateNumbers(selectedCart).online.open }}€</td>
              </tr>
              <tr>
                <th class="first-th on-site">{{ onSite }}</th>
                <td class="green-td">{{ generateNumbers(selectedCart).onSite.redeemed }}€ | {{ generateNumbers(selectedCart).onSite.redeemed + generateNumbers(selectedCart).onSite.open }}€</td>
                <td class="red-td">{{ generateNumbers(selectedCart).onSite.open }}€ | {{ generateNumbers(selectedCart).onSite.redeemed + generateNumbers(selectedCart).onSite.open }}€</td>
              </tr>
            </ng-container>
            <ng-template *ngFor="let cart of evaluationCarts" [ngIf]="selectedCart !== 'Gesamt' && cart === selectedCart">
              <tr>
                <th class="first-th">{{ selectedCart }}</th>
                <td class="green-td">{{ generateNumbers(selectedCart).redeemed }}€ | {{ generateNumbers(selectedCart).redeemed + generateNumbers(selectedCart).open }}€</td>
                <td class="red-td">{{ generateNumbers(selectedCart).open }}€ | {{ generateNumbers(selectedCart).redeemed + generateNumbers(selectedCart).open }}€</td>
              </tr>
              <tr>
                <th class="first-th online">{{ online }}</th>
                <td class="green-td">{{ generateNumbers(selectedCart).online.redeemed }}€ | {{ generateNumbers(selectedCart).online.redeemed + generateNumbers(selectedCart).online.open }}€</td>
                <td class="red-td">{{ generateNumbers(selectedCart).online.open }}€ | {{ generateNumbers(selectedCart).online.redeemed + generateNumbers(selectedCart).online.open }}€</td>
              </tr>
              <tr>
                <th class="first-th on-site">{{ onSite }}</th>
                <td class="green-td">{{ generateNumbers(selectedCart).onSite.redeemed }}€ | {{ generateNumbers(selectedCart).onSite.redeemed + generateNumbers(selectedCart).onSite.open }}€</td>
                <td class="red-td">{{ generateNumbers(selectedCart).onSite.open }}€ | {{ generateNumbers(selectedCart).onSite.redeemed + generateNumbers(selectedCart).onSite.open }}€</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
    <div class="evaluation-button">
      <div class="btn">
        <button>text</button>
      </div>
    </div>
    <app-evaluation-chart [series]="series"></app-evaluation-chart>
  </div>
</div>