@use "../../../../styles/variables" as *;

.container-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.evaluation-container {
    width: 33%;
    margin: 0.0625rem 0;
    padding: 0.9375rem 0;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $rv-light-black-1;
    color: $rv-dark-white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover, 
    &.selected {
        background-color: $rv-blue;
        color: $rv-dark-white;
    }
}
  
.evaluation-button {
    padding: 2.5rem;
    max-width: 15.625rem;

    button {
        width: 100%;
        background-color: $rv-pink;
        color: $rv-dark-white;
        padding: 0.625rem 0;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
    }
}

.evaulution-wrapper {
    table {
        min-width: 100%;
        border-spacing: 0 0.625rem;
    }

    thead {
        height: 3.125rem;

        th {
            color: $rv-dark-white;
            font-weight: 400;
        }
    }

    tbody {
        tr {
            width: 100%;
        }

        th {
            height: 3.125rem;
            background-color: $rv-black;
            color: $rv-white;
            font-weight: 400;

            &.first-th {
                border-left: 0.0625rem solid $rv-dark-white;
                border-top: 0.0625rem solid $rv-dark-white;
                border-bottom: 0.0625rem solid $rv-dark-white;
                width: 20%;
                word-break: break-word;

                &.on-site {
                    color: $rv-black;
                    background-color: $rv-tab-color;
                }

                &.online {
                    background-color: $rv-border-color;
                }
            }

            &.second-th {
                background-color: $rv-tab-color-one;
            }

            &.third-th {
                background-color: $rv-tab-color-two;
                color: $rv-black;
            }
        }

        .green-td,
        .red-td { 
            color: $rv-white;
            width: 40%;
            text-align: center;
            word-break: break-word;
        }

        .green-td {
            background-color: $rv-green;
        }

        .red-td {
            background-color: $rv-dark-red;
        }
    }

    .th-container {
        display: flex; 
        justify-content: center;
        align-items: center;
        word-wrap: break-word;
    }

    .number,
    .th-sum {
        word-wrap: break-word;
        max-width: 45%;
    }

    .line {
        padding: 0 0.3125rem;
    }
}

.evaluation-cart-wrapper {
    background-color: $rv-black;
}

.evaulution-overview {
    padding-top: 1.25rem;
} 

@media (min-width: 48rem) {
    .evaulution-wrapper {
        max-width: 37.5rem;
        margin: 0 auto;
    }
}

@media (min-width: 60rem) {
    .evaulution-wrapper {
        padding: 0 0.625rem;
    }

    .container-row {
        display: flex;
        justify-content: space-between;
    }

    .evaluation-container {
        width: 16%;
        margin-top: 0;
    }
}

@media (min-width: 75rem) {
    .evaulution-overview {
        padding-top: 2.5rem;
    } 

    .evaluation-cart-wrapper {
        height: 100%;
        
        .container-row {
            display: flex;
        }

        tbody {
            th {
                &.first-th,
                &.second-th,
                &.third-th {
                    font-size: 0.9375rem;
                }
            }
        }
    }
    
    .evaluation-container {
        font-size: 0.875rem;
        margin-bottom: 0;
    }

    .evaluation-button {
        padding: 0;
        margin: 3.125rem 0 0 1.875rem;
        
        button {
            width: 9.375rem;
        }
    }
}
  