<div class="container">
    <div class="wrapper">
        <div class="sidenav-container">
            <app-sidenav></app-sidenav>
            <router-outlet></router-outlet> 
        </div>
    </div>
</div>
  