<div class="evaluation-overview-wrapper">
    <div class="container-row">
        <div class="tabs">
            <div *ngFor="let tab of locationsTab; let i = index" 
                class="evaluation-overview" 
                (click)="changeLocationTab(i)"
                [ngClass]="{'selected': selectedLocationTab === i}">
                {{ tab }}
            </div>
        </div>

        <div class="tabs second-tabs">
            <div *ngFor="let status of statusTab" 
                class="evaluation-overview status-tabs"
                (click)="changeStatusTab(status)"
                [ngClass]="{'selected': selectedStatusTab === status}">
                {{ status }}
            </div>
        </div>
    </div>  
    
    <div class="evaluation-table-container">
        <app-evaluation-table 
            [selectedLocationTab]="selectedLocationTab" 
            [selectedStatusTab]="selectedStatusTab">
        </app-evaluation-table>
    </div>
</div>
