@use "../../../../styles/variables" as *;

.evaluation-table-container {
    display: none;
}

.tabs {
    display: flex;
}

#chart {
    max-width: 23.75rem;
    margin: 2.1875rem auto;
    padding: 0;
}

.evaluation-overview {
    width: 100%;
    margin: 0.125rem 0;
    padding: 0.9063rem 0;
    border: 0.0625rem solid $rv-dark-white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $rv-light-black-1;
    color: $rv-dark-white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover, 
    &.selected {
        background-color: $rv-blue;
        color: $rv-dark-white;
    }

    &.status-tabs {
        background-color: $rv-green;

        &:last-child {
            background-color: $rv-light-red;
            color: $rv-dark-red;

            &:hover {
                color: $rv-dark-white;
            }
        }

        &:hover {
            background-color: $rv-blue;
        }

        &.selected {
            background-color: $rv-blue;
            color: $rv-dark-white;
        }
    }
}

@media (min-width: 75rem) {
    .evaluation-table-container {
        display: flex;
    }

    .container-row {
        display: flex;
        justify-content: space-between;
    }

    .tabs {
        display: flex;
        width: 50%;

        &.second-tabs {
            justify-content: flex-end;
        }
    }

    .evaluation-overview {
        border: none;
        font-size: 0.9375rem;
        margin: 0 0.1875rem 0 0;

        &.status-tabs {
            width: 40%;
        }
    }
}
