@use "../../../styles/variables" as *;

.evaluation-container {
    background-color: $rv-light-black;
}

.evaluation-wrapper {
    padding: 0.625rem;
    display: block;
}

@media (min-width: 75rem) {
    .evaluation-wrapper {
        display: flex;
        padding: 1.25rem 0.625rem 0.625rem 0.625rem;
    }

    .evaluation-overview-container {
        margin-left: 0.625rem;
    }

    .evaluation-cart-container {
        width: 40%;
    }
    
    .evaluation-overview-container {
        width: 60%;
    }
}

