<div class="evaluation-container">
    <div class="evaluation-wrapper">
        <div class="evaluation-cart-container">
            <app-evaluation-cart></app-evaluation-cart>
        </div>

        <div class="evaluation-overview-container">
            <app-evaluation-overview></app-evaluation-overview>
        </div>
    </div>
</div>