$rv-black: #2d2a28;
$rv-light-black: #3c3a38;
$rv-light-black-1: #808080;
$rv-light-black-2: #545151;
$rv-border-color: #737373;
$rv-tab-color:#c4c2c2;
$rv-tab-color-one: #7c7b7b;
$rv-tab-color-two:#d8d7d7;
$rv-white: #ffffff;
$rv-blue: #4cc0df;
$rv-green: #40c87f;
$rv-dark-white: #e0e0e0;
$rv-dark-red: #aa0b0b;
$rv-light-red: #ef7a7a;
$rv-pink: #ef00c3;
