<div class="side-nav-wrapper">
    <div class="side-nav" 
        [ngClass]="{'hide-categories': !showCategories && !isLargeScreen}">
        <div class="img-in-sidenav">
            <img [src]="imageLogo" alt="Reservision Logo">
        </div> 
        <ul>
            <li *ngFor="let category of categorieNames" 
                (click)="showContent(category)"
                [ngClass]="{ 'selected-category': selectedCategory === category }">
                {{ category }}
            </li>
        </ul>

        <div class="vouchers-container">
            <div class="vouchers-wrapper">
                <app-vouchers></app-vouchers>
            </div>
        </div>
    </div>
    <div class="content side-nav-content" 
        [ngClass]="{'content-mobile': !isLargeScreen && !showCategories}">
        <button class="close-btn close-btn-side-nav"    
            *ngIf="selectedCategory" 
            (click)="closeCategory()">
            <img src="{{ imagePathSidenav }}" alt="Menu">
        </button>
        
        <div *ngIf="selectedCategory" 
            class="category-side-nav">
            <ng-container [ngSwitch]="selectedCategory">
                <app-evaluation *ngSwitchCase="'Auswertungen'"></app-evaluation>
                <!-- Hier kommen die anderen Kategorien hin -->
            </ng-container>
        </div>
    </div>
    
</div>
  