@use "../../styles/variables" as *;

.side-nav-wrapper {
  display: flex;
}

.hide-categories {
  display: none;
}

.vouchers-container {
    margin: 0 0.625rem 0.625rem 0.625rem;
    height: 28.5rem;
}

.vouchers-wrapper {
    background-color: $rv-black;
    height: 100%;
}

.side-nav-content {
    &.content-mobile {
        width: 100%;
        padding: 0.625rem;
    }
}

.close-btn-side-nav {
    background-color: $rv-black;
    border: none;

    img {
        background-color: $rv-black;
    }
}

.side-nav-wrapper {
    ul {
        padding: 0;
        list-style-type: none; 
        padding-top: 1.25rem;
    }

    li {
        text-transform: uppercase;
        color: $rv-white;
        display: flex;
        justify-content: center;
        font-size: 1.25rem;
        padding: 0.9375rem 0;
        border-top: 0.0625rem solid $rv-light-black;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:last-child {
            border-bottom: 0.0625rem solid $rv-light-black;
        }

        &:hover,
        &.selected-category {
            color: $rv-blue;
        }  
    }
}

.side-nav {
    width: 100%;
}

.img-in-sidenav {
    display: flex;
    justify-content:center;
    margin: 0.9375rem auto;
    width: 100%;

    img {
        max-width: 12.5rem;
        display: flex;
        justify-content:center;
        margin: 0 auto;
    }
}

.category-side-nav {
    padding-top: 1.25rem;
}

@media (min-width: 60rem) {
    .close-btn-side-nav {
        display: none; 
    }

    .side-nav {
        width: 30%;
        background-color: $rv-light-black;
    }

    .category-side-nav {
        padding-left: 0.625rem;
    }

    .side-nav-content {
        width: 70%;
    }

    .category-side-nav {
        padding-top: 0.625rem;
    }

    .side-nav-wrapper {
        justify-content: center;
        width: 100%;

        ul {
            padding-left: 1.5625rem;
            padding-top: 0.3125rem;
        }

        li {
            border: none;
            justify-content: start;
            padding: 0.625rem 0;

            &:last-child {
                border: none;
            }
        }
    }
}

@media (min-width: 75rem) {
    .category-side-nav{
        width: 100%;
        padding-top: 0;
    }

    .side-nav {
        width: 20%;
    }

    .side-nav-content {
        width: 80%;
    }

    .img-in-sidenav {
        
        img {
            max-width: 15rem;
        }
    }
}

