@use "../../../../../styles/variables" as *;

.evaluation-table-container {
    height: 50rem; 
    overflow-y: auto;
    
    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead { 
        height: 2.5rem;
        
        tr {
            background-color: $rv-black;
            font-size: 0.9375rem;
        }

        th {
            color: $rv-dark-white;
            font-weight: 400;
            border: none;
            font-size: 0.9375rem;
            padding: 0 0.4375rem;
        }
    }

    tbody {
        tr:nth-child(even) {
           background-color: $rv-light-black-2;
        } 

        td {
            border-right: 0.0625rem solid $rv-border-color;
            padding: 0.3125rem 0.3125rem;
            color: $rv-dark-white;
            font-size: 0.9375rem;

            &:last-child {
                border-right: none;
            }

            &:nth-last-child(-n+2) {
                text-align: center;
            }

            td:not(:nth-last-child(-n+2)) {
                text-align: left;
            }

            &.empty-cell {
                padding: 1.375rem;
            }
        }
    }
}

.evaluation-table-container {
    scrollbar-width: thin;
    scrollbar-color: $rv-light-black-2 $rv-light-black;

    &::-webkit-scrollbar {
        width: 0.625rem;
    }

    &::-webkit-scrollbar-track {
        background: $rv-light-black;
    }

    &::-webkit-scrollbar-thumb {
        background: $rv-light-black-2; 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $rv-light-black;
    }
}