<div class="evaluation-table-container">
    <table>
        <thead>
          <tr>
            <th>{{ dateTime }}</th>
            <th style="width: 115px">{{ customerName }}</th>
            <th style="width: 165px">{{ employees }}</th>
            <th>{{ art }}</th>
            <th>{{ number }}</th>
            <th style="width: 65px">{{ sum }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of getFilteredOrders()">
            <td>{{ order.date }} / {{ order.time }}</td>
            <td>{{ order.customerName }}</td>
            <td>{{ order.employees }} / {{ order.employeesId }}</td>
            <td>{{ order.coupon }}</td>
            <td>{{ order.number }}</td>
            <td>{{ order.sum | currency }}</td>
          </tr>
          <tr *ngFor="let _ of extraRows">
            <td *ngFor="let _ of extraColumns" class="empty-cell"></td>
          </tr>
        </tbody>
    </table>
</div>
